<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css"> 
    <link rel="stylesheet" href="/css/global.css"> 
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <script src="/scripts/sidenav-toggle.js"></script>
    <script src="/scripts/index/animation-home1.js"></script>
    <script src="/scripts/microsoft-clarity.js"></script>
    <title>Lif Platforms | Page Not Found</title>
</head>
<%- navbar %>
<header>
    <h1>404</h1>
    <p>Welp, the resource you're looking for could not be found.</p>
    <a href="/">&#x2190; Back To Site</a>
</header>
<%- footer %>
</html>