<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="About Lif Platforms.">
    <meta name="keywords" content="Lif Platforms Social Media About"></meta>
    <link rel="stylesheet" href="css/about us.css"> 
    <link rel="stylesheet" href="css/global.css"> 
    <link rel="shortcut icon" href="icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <script src="scripts/sidenav-toggle.js"></script>
    <script src="scripts/about us/animation-about1.js"></script>
    <script src="scripts/microsoft-clarity.js"></script>
    <script src="scripts/cookie-banner-toggle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <title>Lif Platforms | About Us</title>
</head>
<%- navbar %>
<header>
    <h1 class="header-title">About Us</h1>
    <h1 class="scroll-down-arrow">\/</h1>
</header>
<!--Cookie Banner Notice-->
<div class="cookie-banner-closed" id="cookie-banner">
    <div>
        <h1>Accept Cookies?</h1>
        <p>Lif Platforms uses cookies to provide analytics data for our site.</p>
    </div>
    <button onclick="accept_cookies()">Accept</button>
</div>
<body>
    <section class="section-a">
        <div>
            <h1>Who We Are</h1>
        </div>
        <div>
            <p>Lif is a Social-Networking organization that focuses on creating social platforms that enable us to share, socialize, and hang out with users across the world. Lif believes that social media can bring people closer together and foster meaningful connections. Lif offers a variety of features and services to suit different needs and preferences, such as chat rooms and more. Lif aims to provide a safe and inclusive environment for everyone to enjoy and express themselves freely.</p>
        </div>
    </section>
    <section class="section-a">
        <div>
            <h1>Our Mission</h1>
        </div>
        <div>
            <p>At Lif, we are driven by a vision of a world where people can connect with others who share their passions and interests, and where they can find inspiration, support and joy in their online interactions. We understand that social networking is not just about sharing content, but about creating meaningful relationships and communities that enrich our lives. That's why we design our platforms to enable people to discover, explore and express themselves in ways that reflect their authentic selves and values.</p>
            <p>We believe that everyone has something unique and valuable to offer, and that by celebrating diversity and fostering inclusion, we can create a more positive and respectful online culture. We also believe that social networking should be fun and engaging, and that by providing our users with innovative features and tools, we can enhance their creativity and expression. Whether it's through music, art, gaming, sports, education or any other domain, we want our users to find their niche and their voice on our platforms.</p>
            <p>Our mission at Lif is to create social networking platforms that connect people with shared interests and passions, and empower them to discover, explore and express themselves. We believe that by fostering meaningful connections and communities, we can help people live happier and more fulfilling lives.</p>
        </div>
    </section>
    <section class="section-a">
        <div>
            <h1>What We Make</h1>
        </div>
        <div>
            <p>Lif Platforms builds and maintains 2 services as of now and plan to make more in the future. We are currently working on Ringer And Dayly. Ringer is a messaging app for windows and Dayly is a social media platform. You can learn more about these applications by visiting their repositories.</p>
        </div>
    </section>
</body>
<%- footer %>
</html>