<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lif Platforms. Lets make a more social tomorrow.">
    <meta name="keywords" content="Lif Platforms Social Media Messaging"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css"> 
    <link rel="stylesheet" href="css/global.css"> 
    <link rel="shortcut icon" href="icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <script src="scripts/sidenav-toggle.js"></script>
    <script src="scripts/index/animation-home1.js"></script>
    <script src="scripts/microsoft-clarity.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="scripts/cookie-banner-toggle.js"></script>
    <title>Lif Platforms | Official Site</title>
</head>
<header>
    <div class="header-title">
        <img src="images/index/Lif-Logo.png" />
        <p>Lets Make a More Social Tomorrow</p>
    </div>
    <div class="header-divider">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
        </svg>
    </div>
</header>
<%- navbar %>
<!--Cookie Banner Notice-->
<div class="cookie-banner-closed" id="cookie-banner">
    <div>
        <h1>Accept Cookies?</h1>
        <p>Lif Platforms uses cookies to provide analytics data for our site.</p>
    </div>
    <button onclick="accept_cookies()">Accept</button>
</div>
<body>
    <section class="section-a">
        <div>
            <h1>Say Hello, <br> With Ringer</h1>
            <p>Ringer makes it easy to connect with the people that matter.</p>
            <a href="ringer">Learn More ></a>
        </div>
        <div>
            <img src="images/index/Ringer-Mockup.png" alt="Ringer Mockup">
        </div>
    </section>
    <section class="section-a">
        <div>
            <img src="images/index/Dayly-Mockup.png" alt="placeholder">
        </div>
        <div id="#AddPadding">
            <h1>Find Your Place, <br> With Dayly</h1>
            <p>With Dayly, you can find communities with the same passions and interests as you.</p>
            <a href="dayly">Learn More ></a>
        </div>
    </section>
</body>
<%- footer %>
</html>