<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about Lif Accounts.">
    <meta name="keywords" content="Lif Platforms Social Media Accounts"></meta>
    <link rel="stylesheet" href="css/lif accounts.css"> 
    <link rel="stylesheet" href="css/global.css"> 
    <link rel="shortcut icon" href="icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <script src="scripts/sidenav-toggle.js"></script>
    <script src="scripts/services/lif accounts/features-animation.js"></script>
    <script src="scripts/microsoft-clarity.js"></script>
    <script src="scripts/cookie-banner-toggle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <title>Lif Platforms | Lif Accounts</title>
</head>
<%- navbar %>
<header>
    <div class="header-title">
        <h1>All of Lif <br>All Right Here</h1>
        <a href="https://my.lifplatforms.com" target="_blank">Manage Account</a>
    </div>
</header>
<!--Cookie Banner Notice-->
<div class="cookie-banner-closed" id="cookie-banner">
    <div>
        <h1>Accept Cookies?</h1>
        <p>Lif Platforms uses cookies to provide analytics data for our site.</p>
    </div>
    <button onclick="accept_cookies()">Accept</button>
</div>
<body>
    <section class="section-a">
        <h1>Whats a Lif Account?</h1>
        <p>A Lif Account is an account you create with Lif Platforms that allows you to log into all of our products and services with just one account.</p>
        <div class="services">
            <img src="images/services/Ringerlogo-2.png" alt="Ringer Icon" />
            <img src="images/services/Dayly-Icon.png" alt="Dayly Icon" />
        </div>
    </section>
    <section class="section-b">
        <h1>Features</h1>
        <div class="features-container">
            <div class="features">
                <h1>One Account Sign In</h1>
                <p>Lif accounts allow you to use one account to sign into all of Lif Platforms products and services.</p>
            </div>
            <div class="features">
                <h1>Built-In Security</h1>
                <p>Lif Accounts have been built from the ground up to be safe, secure, and protect the data of their owners.</p>
            </div>
            <div class="features">
                <h1>Privacy at The Forefront</h1>
                <p>Lif Accounts have been designed to protect the privacy of their owners. They don't collect any data that is not needed for the service to function.</p>
            </div>
        </div>
    </section>
    <section class="section-a">
        <h1>It's All You</h1>
        <p>Lif Accounts give you the power to express yourself however you like. Change how people see you online by setting your avatar, banner, pronouns, and bio.</p>
        <img src="images/services/profile-personalization.png" alt="Personalization" class="profile-personalization-img" />
    </section>
</body>
<%- footer %>
</html>