header {
    text-align: center;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15%;
}

header h1 {
    font-size: 150px;
    margin: 10px 0;
}

header a {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

@media screen and (max-width: 700px) {
    header {
        padding: 20px;
        margin-bottom: 50%;
        margin-top: 100px;
    }
}