<footer>
    <div class="footer-links-container">
        <div class="footer-links">
            <h1>Company</h1>
            <ul>
                <li><a href="about us">About Us</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h1>Services</h1>
            <ul>
                <li><a href="ringer">Ringer</a></li>
                <li><a href="dayly">Dayly</a></li>
                <li><a href="lif accounts">Lif Accounts</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h1>Support</h1>
            <ul>
                <li><a href="contact us">Email</a></li>
                <li><a href="contact us">Online Form</a></li>
                <li><a target="_blank" href="http://support.lifplatforms.com">Community</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h1>Resources</h1>
            <ul>
                <li><a href="terms of service">Terms of Service</a></li>
                <li><a href="privacy policy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="hr-container">
        <hr>
    </div>
    <div class="footer-social">
        <h1>Lif Platforms</h1>
        <a href="https://twitter.com/Lif_Platforms" target="_blank" title="Follow us on X"><img src="images/global/twitter.png" alt="X Logo"></a>
        <a href="https://instagram.com/lif_platforms?igshid=YTQwZjQ0NmI0OA==" title="Follow us on Instagram" target="_blank"><img src="images/global/instagram.png" alt="Instagram Logo"></a>
        <a href="https://youtube.com/@LifPlatforms" target="_blank" title="Subscribe to us on YouTube"><img src="images/global/youtube.png" alt=""></a>
        <a href="https://github.com/Lif-Platforms" target="_blank" title="Follow us on GitHub"><img src="images/global/github.png" alt=""></a>
    </div>
</footer>