html {
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: 10% auto;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid black 1px;
    z-index: 998;
}
.nav-logo {
    width: 100px;
    padding: 10px;
}

.nav-logo img{
    width: 100px;
    padding-left: 5px;
}

.nav-links {
    text-align: center;
    margin: auto;
}

.nav-links a {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
    border: solid transparent 2px;
    color: black;
    text-decoration: none;
}

.nav-links a:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1em;
    border: solid black 2px;
}

footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-links ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 40px;
}

.footer-links a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: underline;
}

.footer-social img {
    width: 40px;
    background-color: rgb(66, 66, 66);
    border-radius: 0.5em;
    padding: 5px;
}
.footer-social img:hover {
    width: 40px;
    background-color: rgb(110, 110, 110);
    border-radius: 0.5em;
    padding: 5px;
}

.nav-links button {
    display: none;
}

@media screen and (max-width: 700px) { 
    .nav-links a {
        display: none;
    }

    .nav-links button {
        display: initial;
        text-align: right;
        background-color: transparent;
        border: none;
        font-size: xx-large;
        color: black;
        font-weight: 300;
        margin: 0;
        width: max-content;
        padding: 0;
    }

    .nav-links button:active {
        font-size: x-large;
    }
    .nav-links {
        text-align: right;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        margin-right: 20px;
    }
    nav {
        display: grid;
        grid-template-columns: 100px auto;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: solid black 1px;
        z-index: 998;
    }
} 

@media screen and (max-width: 850px) {
    .footer-social {
        display: none;
    }
    footer {
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media screen and (max-width: 650px) { 
    footer {
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: auto auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media screen and (max-width: 650px) {
    footer {
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

.hamburger-menu-show {
    background-color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0; 
    top: 0;
    z-index: 999;
    transition: 0.3s;
    padding-top: 20px;
    opacity: 1;
}

.hamburger-menu-show ul {
    list-style: none;
    display: table;
    margin: 0 auto;
    margin-right: 20px;
    text-align: center;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}

.hamburger-menu-show li {
    opacity: 0;
    transform: translateX(40px);
    animation: slideIn 0.5s ease forwards;
}

.hamburger-menu-show a {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: block;
}

/*Make links slide in 1 at a time*/
.hamburger-menu-show li:nth-child(1) {
    animation-delay: 0.1s;
}

.hamburger-menu-show li:nth-child(2) {
    animation-delay: 0.2s;
}

.hamburger-menu-show li:nth-child(3) {
    animation-delay: 0.3s;
}

.hamburger-menu-show li:nth-child(4) {
    animation-delay: 0.4s;
}

.hamburger-menu-show button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(224, 224, 224);
    border: none;
    color: white;
    font-size: large;
    border-radius: 3em;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.hamburger-menu-show button:active {
    transform: scale(0.90);
}

.hamburger-menu-hide {
    background-color: white;
    position: fixed;
    height: 100%;
    width: 0;
    right: 0; 
    top: 0;
    z-index: 999;
    transition: 0.3s;
    padding-top: 20px;
    opacity: 0;
}

.hamburger-menu-hide button {
    display: none;

}

.hamburger-menu-hide ul {
    list-style: none;
    display: table;
    margin: 0 auto;
    margin-right: 20px;
    text-align: center;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}

.hamburger-menu-hide a {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: block;
}

.hamburger-menu-hide button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(187, 186, 186);
    border: none;
    color: white;
    font-size: large;
    border-radius: 5em;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}