body {
    padding: 0;
    margin: 0;
    background-color: white;
}

header {
    background-image: url("../assets/Images/HomePage/Lif-Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}

.header-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: x-large;
    padding-top: 15%;
    padding-bottom: 20%;
    animation-name: headerAnimation;
    animation-duration: 0.5s;
}

.header-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.header-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 221px;
}

.header-divider .shape-fill {
    fill: #FFFFFF;
}

@keyframes headerAnimation {
    0% {
       opacity: 0;
       transform: translateY(-70px);
    }
    70% {
        opacity: 1;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.section-a {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-bottom: 200px;
    width: 100%;
}

.section-a img {
    width: 100%;
}

.section-a h1 {
    font-size: 500%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.section-a p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.section-a a {
    color: rgb(0, 111, 185);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.hamburger-menu-show {
    background-color: white;
    position: fixed;
    height: 100%;
    right: 0; 
    top: 0;
    z-index: 999;
}

.hamburger-menu-show ul {
    list-style: none;
    display: table;
    margin: 0 auto;
    margin-right: 20px;
    text-align: center;
    font-size: x-large;
}

.hamburger-menu-show li {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1150px) {
    .section-a {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        margin-bottom: 200px;
        width: 100%;
    }
    .section-a img {
        width: 98%;
        text-align: center;
        padding-top: 50px;
    }
    
}