header {
    padding: 10%;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 81, 255);
    font-size: 60px;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 81, 255);
    font-size: larger;
}

header span {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    display: block;
    font-size: small;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    line-height: 30px;
}