header {
    background-image: url("../assets/Images/Services/Ringer-Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}

@keyframes headerAnimation {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes headerButtonAnimation {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-title {
    padding-top: 10%;
    padding-bottom: 15%;
    text-align: center;
    margin: auto;
    color: white;
    z-index: 2;
    position: relative;
}

.header-title button {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    border: solid black 2px;
    border-radius: 1em;
    color: white;
    font-size: xx-large;
    box-shadow: 5px 5px 20px rgb(114, 113, 113);
    transition: 0.3s;
    animation-name: headerButtonAnimation;
    animation-duration: 0.9s;
}

.header-title button:hover {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 208, 120);
    border: solid black 2px;
    border-radius: 1em;
    color: white;
    font-size: xx-large;
    box-shadow: 5px 5px 20px rgb(114, 113, 113);
    transition: 0.3s;
}

.header-title button:active {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 208, 120);
    border: solid black 2px;
    border-radius: 1em;
    color: white;
    font-size: xx-large;
    box-shadow: 0px 0px 0px black;
    transition: 0.3s;
}

.header-title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    animation-name: headerAnimation;
    animation-duration: 0.6s;
}

.header-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.header-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 221px;
    z-index: 1;
}

.header-divider .shape-fill {
    fill: #FFFFFF;
}

.section-a {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 20px;
    margin-top: 200px;
    opacity: 0;
    transform: translateY(200px) scale(0.81);
    transition: 0.3s ease-out;
}

.section-a.show {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 20px;
    margin-top: 200px;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: 0.3s ease-out;
}

.section-a h1 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

.section-a p {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.section-a img {
    width: 100%;
}

.section-b {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px;
    margin-top: 200px;
    opacity: 0;
    transform: translateY(200px) scale(0.81);
    transition: 0.3s ease-out;
}

.section-b.show {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px;
    margin-top: 200px;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: 0.3s ease-out;
}

.section-b h1 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

.section-b p {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.section-b img {
    width: 100%;
}

.section-c {
    margin: 20px;
    margin-top: 200px;
    opacity: 0;
    transform: translateY(200px) scale(0.81);
    transition: 0.3s ease-out;
}

.section-c.show {
    margin: 20px;
    margin-top: 200px;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: 0.3s ease-out;
}

.section-c span {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    padding: 5px;
    border: 3px solid orange;
    width: fit-content;
    font-weight: bold;
    border-radius: 5em;
}

.section-c h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

.section-c p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.section-c img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

@media screen and (max-width: 1200px) {
    .section-a.show {
        grid-template-columns: auto;
        margin-top: 100px;
    }

    .section-b.show {
        grid-template-columns: auto;
        margin-top: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .section-c img {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .section-a.show h1 {
        font-size: 60px;
    }

    .section-a.show p {
        font-size: 30px;
    }

    .section-b.show h1 {
        font-size: 60px;
    }

    .section-b.show p {
        font-size: 30px;
    }

    .section-c.show h1 {
        font-size: 60px;
    }

    .section-c.show p {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px ) {
    .header-title button {
        font-size: x-large;
        padding: 15px;
    }

    .header-title button:active {
        font-size: x-large;
        padding: 15px;
    }

    .header-title button:hover {
        font-size: x-large;
        padding: 15px;
    }

    .header-title {
        margin-top: 50px;
        padding-bottom: 30%;
    }

    .header-divider svg {
        height: 121px;
    }

    .header-title img {
        width: 80%;
    }
}