header {
    background-image: url("../assets/Images/Services/Lif-Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}
.header-title {
    padding-top: 20%;
    padding-bottom: 25%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin: 0;
    color: white;
    text-shadow: 10px 10px 20px gray;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.intro {
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.services-section {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.services-section div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    box-shadow: 10px 10px 20px gray;
    border-radius: 1em;
    text-align: center;
    transition: 0.3s ease-in-out;
    padding: 10px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    height: 450px;
}

.services-section img {
    width: 100%;
    text-align: center;
}

.services-section div:hover {
    transform: scale(1.04) translateY(-20px);
}

.services-section span {
    color: blue;
    text-decoration: underline blue;
    text-underline-offset: 2px;
}

.services-section a {
    text-decoration: none;
}

.custom-shape-divider-bottom-1686071847 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686071847 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 170px;
}

.custom-shape-divider-bottom-1686071847 .shape-fill {
    fill: #FFFFFF;
}